MADDY_HOSTNAME=smtp.example.org
MADDY_TLS_DOMAIN=smtp.example.org

MADDY_SMTP_USER=example-smtp-user
MADDY_SMTP_PASSWORD=
MADDY_SUBMISSION_PORT=587
MADDY_SMTPS_PORT=465

MADDY_SES_HOST=email-smtp.example.com
MADDY_SES_PORT=587
MADDY_SES_USERNAME=
MADDY_SES_PASSWORD=

MADDY_MAX_MESSAGE_SIZE=32M
MADDY_SUBMISSION_RATE_LIMIT=20
MADDY_SUBMISSION_CONCURRENCY_LIMIT=20
MADDY_TLS_WAIT_SECONDS=180
