services:
  tolgee:
    container_name: tolgee
    # image: tolgee/tolgee:v3.55.0
    image: tolgee/tolgee:v3.132.3
    env_file:
      - .env
    # ports:
    #   - "25432:25432"
    #   - "8081:8080"
    volumes:
      - ${DATA_PATH}:/data
    # networks:
    #   - proxy-net
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.tolgee.rule=Host(`${DOMAIN}`)"
    #   - "traefik.http.routers.tolgee.entrypoints=websecure"
    #   - "traefik.http.routers.tolgee.tls.certresolver=myresolver"
    #   - "traefik.http.services.tolgee.loadbalancer.server.port=8080"

# networks:
#   proxy-net:
#     external: true
