AVOIN_LOGS_PATH=../logs
AVOIN_DATA_PATH=../data

DATA_URL=sub.domain.url
AUTH_URL=http://sub.domain.url:1234
CLIMATE_MAP_URL=http://sub.domain.url:1234
DOMAIN=sub.domain.url
DOMAIN_EMAIL=admin@email.address